.comment-text{
    padding-left: 20px;
    font-size: 25px;
    border-color: #2d0224;
}

.edit-open-button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#2f032a;
    text-align:center;
    transition: all 0.2s;
}

.edit-open-button:hover{
    color:#ffffff;
    background-color:#2d0224;
}