.single-song-div{
    width: 14.5%;
    height: 45%;
    margin: 1%;
    position: relative;
    display: flex;
    flex-direction: column;
    /* padding-inline: ; */
  }

  /* the whole button */
  .element-play-button {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 30%;
    top: 22%;
    display: block;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 0;
    margin: 0 auto;
    user-select: none;
    background: rgb(048, 195, 124);
    opacity: 0;
    transition: all 0.2s ease;
  }

  /* the play button */
  .element-play-button:after {
      position: absolute;
      top: calc(50% - 25px);
      left: calc(50% - 14px);
      display: block;
      content: '';
      opacity: 1;
      box-sizing: border-box;
      border-color: transparent transparent transparent #fff;
      border-style: solid;
      border-width: 26px 0 26px 40px;
    }

    #song-cover:hover ~ .element-play-button {
      /* background-color: rgba(0, 33, 66, 0.9); */
      opacity: .8;
  }

  .element-play-button:hover {
    background-color: rgba(30, 167, 85, 0.9);
    cursor: pointer;
    opacity: 1;
  }

  #song-cover{
    width: 100%;
    height: auto;
    border: 1px solid rgb(0, 0, 0, .2)
  }
  
  #song-title{
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
    margin: 5px 0px 5px 0px;
  }
  
  #song-artist{
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
  }