.splashnav{
  width: 1400px;  
  height: 60px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  position: absolute;
  z-index: 2;
}

.splashnav-content{
  position: relative;
  display: flex;
  width: 100%;
  border: 1px solid red;
  justify-content: space-between;
}

#splashlogo{
  border: 1px solid blue;
  width: auto;
  height: 30px;
  margin: 20px;
}

#splashnavbuttons{

}