.splashnav{
  width: 1400px;  
  height: 60px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  position: absolute;
  z-index: 2;
}

.splashnav-content{
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}

#splashlogo{
  width: auto;
  height: 30px;
  margin: 20px;
}

#splashnavbuttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
}

.splashbtn{
  font-size: 14px;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  font-family: 'Silkscreen', cursive;
}

.splashbtn:hover{
  cursor:pointer;
}

#loginbtn.splashbtn{
  text-decoration: none;
  color: rgb(8, 8, 53);
  width: 100px;
  background: transparent;
  border: 1px solid rgb(8, 8, 53);
}

#loginbtn:hover{
  border: 2px solid rgb(8, 8, 53);
}

#signupbtn{
  text-decoration: none;
  color: whitesmoke;
  width: 200px;
  background: rgb(048, 195, 124);
  border: none;
}

/* SplashSongs CSS */

.splashsongs-div{
  /* height: 900px; */
  width: 1400px;  
  background-color: white;
  margin: 0 auto 40px auto;
}

#splash-tracks-title{
  /* padding: 20px 0px 20px 0px; */
  margin-left: auto; 
  margin-right: auto; 
  font-size: 20px;
  color: black;
  font-family: 'Silkscreen', cursive;
  height: 100px;
  width: 1400px;  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* border: 1px solid orange; */
}

.splashsongs-container{
  height: 600px;
  width: 1350px;  
  padding: 10px;
  background-color: white;
  margin: 0 auto 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.single-splashsong-div{
  width: 14.5%;
  height: 45%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  /* padding-inline: ; */
}

#splashsong-cover{
  width: 100%;
  height: auto;
  border: 1px solid rgb(0, 0, 0, .2)
}

#splashsong-title{
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: normal;
  margin: 5px 0px 5px 0px;
}

#splashsong-artist{
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: normal;
}