.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  margin: 0 auto;
  max-width: 450px;
  width: 1000px;
  height: 550px;
  box-sizing: border-box;
  border: 2px groove rgb(048, 195, 124);
}

.login-items{
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-title {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Silkscreen', cursive;
}

.login-form{
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .login-inputs {
    display: flex;
    justify-content: center;
    margin: 0 auto 1% auto;
    font-size: 16px;
    width: 90%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Lato', sans-serif;
  }

  .loginFormBtns {
    font-size: 16px;
    line-height: 18px;
    padding: 10px 15px;
    height: 40px;
    width: 90%;
    border-radius: 5px;
    letter-spacing: .3px;
    opacity: .8;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .loginFormBtns:hover {
    opacity: 1;
  }

  #submitBtn{
    color: #fff; 
    margin-top: 2%;
    background-color: rgb(048, 195, 124);
    border: 1px solid rgb(15, 158, 89);
  }

  #demoBtn {
    color: #fff;
    background-color: black;
    transition: all .2s smooth;
  }
  
  #signInBtn {
    border: 1px solid whitesmoke;
    align-items: center;
    padding-top: 5px;
    width: 90%;
    border-radius: 5px;
    background: transparent;
  }

  #signUpBtn {
    border: 1px solid whitesmoke;
    align-items: center;
    padding-top: 5px;
    width: 90%;
    border-radius: 5px;
    background: transparent;
  }

  /* or */
  .login-or {
    margin: 1em auto;
    position: relative;
    text-align: center;
    font-size: 16px;
  }
  
  .before-or {
    display: inline-block;
    position: relative;
    right: 30px;
    width: 172px;
    top: 100px;
    border-top: 1px solid #333;
    content: " ";
    position: absolute;
    top: 0.7em;
  }
  .after-or {
    display: inline-block;
    position: relative;
    left: 30px;
    width: 172px;
    top: 100px;
    border-top: 1px solid #333;
    content: " ";
    position: absolute;
    top: 0.7em;
  }
  
  
  .form2-errors {
    color: red;
    font-size: 14px;
    text-decoration: none;
    /* list-style-type: none; */
    /* width: 100%; */
    position: relative;
    top: 20px;
    right: 80px;
    /* border: 1px solid red; */
    /* right: 840px; */
    /* top: 220px; */
    /* min-width: 600px; */
  }
  
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 2000ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}
  